
<div class="container-fluid">
    <section class="home-banner" id="home-banner"></section>
    <section class="block-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center p-top-bottom-space">
                    <div class="hr-line-green"></div>
                    <h3 class="txt-dark-blue p-top-space">Welcome</h3>
                    <p class="txt-dark-blue p-top-space p-bottom-space">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,by injected humour, or randomised words which don't look even slightly believable. If you are going 
                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of 
                    text</p>
                </div>
            </div>
        </div>
    </section>
    <section class="block-container bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center p-top-bottom-space txt-light-gray">
                    <div class="hr-line-green"></div>
                    <h3 class="p-top-space">What we Do</h3>
                    <p class="p-top-space p-bottom-space">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,by injected humour, or randomised words which don't look even slightly believable. If you are going 
                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of 
                    text</p>
                </div>
            </div>
        </div>
    </section>
    <section class="block-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center p-top-bottom-space txt-light-gray">
                    <div class="hr-line-green"></div>
                    <h3 class="p-top-space txt-dark-blue">What You Can Do</h3>
                    <p class="p-top-space p-bottom-space txt-dark-blue">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,by injected humour, or randomised words which don't look even slightly believable. If you are going 
                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of 
                    text</p>
                    <div class="p-top-space col-md-2 col-centered">
                        <div class="p-top-space pos-rel">
                            <a href="" class="btn btn-success btn-green-sm">Donate Payment</a>
                            <!-- <span class="pos-abs"><i class="glyphicon glyphicon-menu-left"></i></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block-container bg-black-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-top-bottom-space txt-light-gray">
                    <div class="col-md-7 col-sm-7 col-xs-7 foot-nav" style="padding-top: 7px;">
                        <div class="col-md-12">
                            <ul class="txt-white pull-left">
                                <li><a href="/" class="">About Us</a></li>
                                <li><a href="/home/gallary" class="">Gallery</a></li>
                                <li><a href="/" class="">Trust</a></li>
                                <li><a href="/home/contact-us" class="">Contact Us</a></li>
                            </ul>
                            <div class="foot-addrs clearfix p-top-space">
                                <h5>Address</h5>
                                <h5>3/22 Vinayakar Kovil Street</h5>
                                <h5>Gudimangalam & (po), Udumalpet(Tk)</h5>
                                <h5>Tiruppur(Dt)- 642201</h5>
                                <h5>M: +91 9600636663</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <ul class="social-icons pull-right">
                            <li><a class="fb-icon ptr"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="tw-icon ptr"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="g-pls-icon ptr"><i class="fa fa-google-plus g-pls-icon"></i></a></li>
                        </ul>
                        <div class="foot-addrs pull-right clearfix p-top-space secure-conds text-right">
                            <h5><a class="" href="/">Privacy and Policy</a></h5>
                            <h5>Copyright © 2015 Gyff - All rights reserved.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

