
<div class="container-fluid">
    <section class="home-banner" id="home-banner"></section>
    <section class="block-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center p-top-bottom-space">
                    <div class="hr-line-green"></div>
                    <h3 class="txt-dark-blue p-top-space">Welcome</h3>
                    <p class="txt-dark-blue p-top-space p-bottom-space">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,by injected humour, or randomised words which don't look even slightly believable. If you are going 
                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of 
                    text</p>
                </div>
            </div>
        </div>
    </section>
    <section class="block-container bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center p-top-bottom-space txt-light-gray">
                    <div class="hr-line-green"></div>
                    <h3 class="p-top-space">What we Do</h3>
                    <p class="p-top-space p-bottom-space">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,by injected humour, or randomised words which don't look even slightly believable. If you are going 
                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of 
                    text</p>
                </div>
            </div>
        </div>
    </section>
    <section class="block-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center p-top-bottom-space txt-light-gray">
                    <div class="hr-line-green"></div>
                    <h3 class="p-top-space txt-dark-blue">What You Can Do</h3>
                    <p class="p-top-space p-bottom-space txt-dark-blue">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,by injected humour, or randomised words which don't look even slightly believable. If you are going 
                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of 
                    text</p>
                    <div class="p-top-space col-md-2 col-centered">
                        <div class="p-top-space pos-rel">
                            <a href="" class="btn btn-success btn-green-sm">Donate Payment</a>
                            <!-- <span class="pos-abs"><i class="glyphicon glyphicon-menu-left"></i></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

