<div class="container-fluid">
     <section class="block-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-top-bottom-space">
                    <div class="col-md-12 gallary-tab-container">
                        <h3 class="pull-left txt-dark-blue" style="padding-top: 6px;">GALLERY</h3>
                        <div class="pull-right">
                            <div class="pull-left gallery-tab" style="padding-right: 30px;">
                                <a href="" class="btn btn-default">All</a>
                            </div>
                            <div class="pull-left gallery-tab" style="padding-right: 30px;">
                                <a href="" class="btn btn-default">Photos</a>
                            </div>
                            <div class="pull-left gallery-tab">
                                <a href="" class="btn btn-default">Videos</a>
                            </div>
                        </div> 
                    </div>
                    <div class="gallery-container clearfix">
                        <div class="col-md-10 col-centered">
                            <div class="col-md-4 gallery-block text-center">
                                <div class="col-md-12 gallery-pic">
                                    
                                </div>
                                <div class="gallery-dec clearfix">
                                    <h4 class="txt-dark-blue">Name of the pic</h4>
                                    <h5 class="txt-light-gray-blue">2015</h5>
                                </div>
                            </div>
                           <div class="col-md-4 gallery-block text-center">
                                <div class="col-md-12 gallery-pic">
                                    
                                </div>
                                <div class="gallery-dec clearfix">
                                    <h4 class="txt-dark-blue">Name of the pic</h4>
                                    <h5 class="txt-light-gray-blue">2015</h5>
                                </div>
                            </div>
                           <div class="col-md-4 gallery-block text-center">
                                <div class="col-md-12 gallery-pic">
                                    
                                </div>
                                <div class="gallery-dec clearfix">
                                    <h4 class="txt-dark-blue">Name of the pic</h4>
                                    <h5 class="txt-light-gray-blue">2015</h5>
                                </div>
                            </div>
                           <div class="col-md-4 gallery-block text-center">
                                <div class="col-md-12 gallery-pic">
                                    
                                </div>
                                <div class="gallery-dec clearfix">
                                    <h4 class="txt-dark-blue">Name of the pic</h4>
                                    <h5 class="txt-light-gray-blue">2015</h5>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-block text-center">
                                <div class="col-md-12 gallery-pic">
                                    
                                </div>
                                 <div class="gallery-dec clearfix">
                                    <h4 class="txt-dark-blue">Name of the pic</h4>
                                    <h5 class="txt-light-gray-blue">2015</h5>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-block text-center">
                                <div class="col-md-12 gallery-pic">
                                    
                                </div>
                                <div class="gallery-dec clearfix">
                                    <h4 class="txt-dark-blue">Name of the pic</h4>
                                    <h5 class="txt-light-gray-blue">2015</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>